<div class="addpost-container">
  <form #postForm="ngForm" (ngSubmit)="onSubmit(postForm.value)">
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" class="form-control" id="title" name="title" ngModel />
    </div>
    <div class="form-group">
      <label for="content">Content:</label>
      <textarea
        class="form-control"
        id="content"
        name="content"
        ngModel
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
